@use '../base/variables' as *;
@use '../utilities/mixins' as *;
@use '../utilities/functions' as*;

header {
    @include flex-row(space-between, center, $padding);
    position: fixed;
    background-color: $secondary-colour;
    width: 100%;
    height: $mobile-header-height;
    padding: rem(16) rem(25);
    z-index: 100;
    top: 0;
    

    img {
        display: block;
        width: 100px;
        transition: transform 0.2s;

        &:active {
            transform: scale(0.95)
        }
    }

    @include mq($tablet-width) {
        position: absolute;
    }

    @include mq($desktop-medium-width) {
        height: $desktop-header-height;
        padding: $padding rem(70);
    }
}