@use '../utilities/mixins' as *;
@use '../base/variables' as *;

#hero-section {
    position: relative;
    overflow: hidden;
    @include flex-column(center, center, 0);
    height: 100vh;
    text-align: center;

    .hero-content {

        p {
            font-size: 1.5rem;
            line-height: $line-height;
            margin-bottom: 1.5rem;
        }

        button {
            padding: $padding;
            box-shadow: 5px 3px 5px $accent-shade;
            background-color: $secondary-colour;
            transition: 0.3s;
            color: $text-colour;
            border-radius: 5px;
            border: none;
            cursor: pointer;

            :hover {
                color: $accent-colour;
            }
    
            &:hover {
                box-shadow: 0 0 15px 5px $accent-shade;
                color: $accent-colour;
            }
        }
    }

    img {
        display: none;
    }

    @media (min-width: $tablet-width) {
    @include flex-row(space-evenly, center, 0);
        height: 100vh;

        .hero-content p {
            font-size: 2rem;
        }

        img {
            display: block;
            width: 350px;
        }
    }

    @media (min-width: $desktop-medium-width) {

        .hero-content p {
            font-size: 2.5rem;
        }

        img {
            display: block;
            width: 500px;
        }
    }

    @media (min-width: $desktop-large-width) {

        .hero-content p {
            font-size: 3rem;
        }

        img {
            display: block;
            width: 800px;
        }
    }
}