@use '../base/variables' as *;

body {
    color: $text-colour;
    background-color: $primary-colour;
    font-family: $font;
    line-height: $line-height;
}

a {
    text-decoration: none;
}

main {
    padding: $padding;
}

p {
    color: $text-colour;
}