@use '../utilities/functions' as *;

// Colours
$primary-colour: #1A1A1A;
$secondary-colour: #282828;
$accent-colour: #8bb14e;
$text-colour: #FDFDFD;

// // Hover state
$accent-shade: #556b2f;

// // Fonts
// $font: 'Poppins', Arial, sans-serif;
$line-height: 1.5;

// Padding
$padding: 1rem;
$padding-half: 0.5rem;
$padding-double: 2rem;

// Animations
$link-hover-animation-time: 0.2s;

// Components
$mobile-header-height: rem(80);
$desktop-header-height: rem(100);
$footer-height: rem(450);

// Device Widths
$tablet-width: em(768);
$desktop-small-width: em(1000);
$desktop-medium-width: em(1200);
$desktop-large-width: em(1400);