@use '../base/variables' as *;
@use '../utilities/mixins' as *;

.project-page {
    @include flex-column(center, flex-start, 1rem);
    position: relative;
    padding: 7rem 1rem 2rem;

    .project-info-wrapper {
        @include flex-column(center, center, 1rem);

        .project-info-content {
            @include flex-column(center, flex-start, 1rem);
            order: 1;

            .icons-container {
                @include flex-row-wrap(space-evenly, center, 1rem);
            }

            a {
                padding: $padding;
                box-shadow: 5px 3px 5px $accent-shade;
                background-color: $secondary-colour;
                transition: 0.3s;
                color: $text-colour;
                border-radius: 5px;
                width: 133px;
                border: none;
                cursor: pointer;
                text-align: center;
    
                :hover {
                    color: $accent-colour;
                }
        
                &:hover {
                    box-shadow: 0 0 15px 5px $accent-shade;
                    color: $accent-colour;
                }
            }

            a:hover {
                color: $accent-colour;
            }
        }
    
        .project-image img {
            width: 288px;
        }
    }

    .project-details {
        @include flex-column(center, flex-start, 1rem);

        p {
            font-weight: bold;
        }

        ul {
            list-style-type: disc;
            padding-left: 20px;
        }

    }
}